/* stylelint-disable selector-type-no-unknown */
wpcampus-conduct {
	--area-padding: 2rem;
	--area-padding-large: 3rem;
	--wpc-royal-blue: #1159bd;
	--wpc-dark-blue: #2e3641;

	display: block;
	color: #222;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
	background: #fafafa;
	border-top: 1px solid #e1e1e1;
	overflow: hidden;

	.wpc-conduct {
		a {
			color: inherit;
		}

		.wpc-conduct__heading {
			font-size: 1.3rem;
			line-height: 1.3;
			font-weight: 600;
			margin: 0 0 0.25rem;
		}

		.wpc-conduct__message p {
			font-size: 1rem;
			line-height: 1.8;
			font-weight: 400;
			margin: 0 0 1rem;
		}

		.wpc-conduct__button {
			display: flex;
			align-items: center;

			.wpc-button {
				display: block;
				width: 100%;
				background: #474747;
				border: 0;
				margin: 0;
				padding: 1rem 2rem;
				color: #fff;
				font-size: 1.2rem;
				text-align: center;

				&:hover,
				&:focus {
					background: var(--wpc-royal-blue);
				}
			}
		}

		.wpc-conduct__graphic__wrapper {
			display: flex;
			align-items: stretch;
			border-right: 1px solid #e1e1e1;
		}

		.wpc-conduct__graphic {
			width: 100%;
			height: 100%;
			background-image: url('./eduwapuu.png');
			background-position: center top;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0.5;
		}

		.wpc-conduct__main__wrapper {
			display: flex;
			align-items: center;
			padding: var(--area-padding) var(--area-padding-large);
		}

		.wpc-conduct__main {
			width: 100%;
		}

		&__container {
			display: grid;
			grid-template-columns: repeat(12, 1fr);

			.wpc-conduct__graphic__wrapper {
				grid-column: 1 / span 3;
			}

			.wpc-conduct__main__wrapper {
				grid-column: 4 / span 9;
			}

			&:hover {
				.wpc-conduct__graphic {
					background-image: url('./eduwapuu-color.png');
					opacity: 1;
				}

				.wpc-conduct__button {
					.wpc-button {
						background: var(--wpc-royal-blue);

						&:hover,
						&:focus {
							background: var(--wpc-dark-blue);
						}
					}
				}
			}
		}

		/* Desktop */
		@media (min-width: 1380px) {
			&__container {
				.wpc-conduct__graphic__wrapper {
					grid-column: 1 / span 4;
				}

				.wpc-conduct__main__wrapper {
					grid-column: 5 / span 8;
				}
			}
		}
	}
}
/* stylelint-disable */